
.header {
    padding: 8px 16px;
    background-color: #262626;
    max-width: 1200px;
    margin: 0 auto;
}

.headerWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}